<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tables / General - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/bootstrap/assets/img/favicon.png" rel="icon">
    <link href="/bootstrap/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CNunito:300,300i,400,400i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/bootstrap/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/bootstrap/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">

    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="">
            <img alt="" src="assets/img/logo.png">
            <span class="d-none d-lg-block">SAMSAM-ADMIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    <img alt="Profile" class="rounded-circle" src="assets/img/profile-img.jpg">
                    <span class="d-none d-md-block dropdown-toggle ps-2">SAMSAM-OWNER</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/product/list">
                <i class="bi bi-menu-button-wide"></i><span>상품 관리</span>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>회원 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="forms-nav">
                <li>
                    <a href="/members">
                        <i class="bi bi-circle"></i><span>회원 목록 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/members/mail-form">
                        <i class="bi bi-circle"></i><span>메일</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>주문 관리</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="tables-nav">
                <li>
                    <a href="/orderChange/list">
                        <i class="bi bi-circle"></i><span>주문 변경</span>
                    </a>
                </li>
                <li>
                    <a href="/order/list">
                        <i class="bi bi-circle"></i><span>주문 조회</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="board-nav">
                <li>
                    <a href="/board/notice">
                        <i class="bi bi-circle"></i><span>공지사항</span>
                    </a>
                </li>
                <li>
                    <a href="/QnA">
                        <i class="bi bi-circle"></i><span>Q&A</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->
        <li class="nav-heading">창고 관리</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#object-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>상품</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="object-nav">
                <li>
                    <a href="/warehouse/list">
                        <i class="bi bi-circle"></i><span>재고 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/warehouseLog/list">
                        <i class="bi bi-circle"></i><span>재고 내역 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/InAndOut">
                        <i class="bi bi-circle"></i><span>입/출고</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Profile Page Nav -->
    </ul>
</aside>

<main class="main" id="mains">

    <div class="pagetitle">
        <h1>주문 조회</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <main class="main" id="main">

        <div class="pagetitle">
            <h1>Data Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-8">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">주문 조회</h5>

                            <form action="/order/list" method="GET">
                                <input id="orderName" name="orderName" type="text">
                                <button type="submit">전체 주문 조회</button>
                            </form>

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>주문시퀀스</th>
                                    <th>주문 상태</th>
                                    <th>등록일</th>
                                    <th>총 결제 금액</th>
                                    <th>제품시퀀스</th>
                                    <th>고객시퀀스키</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orderList}">
                                    <td th:text="${order.order_seq}">No data</td>
                                    <td th:text="${order.order_status}">No data</td>
                                    <td th:text="${order.register_date}">No data</td>
                                    <td th:text="${order.total_price}">No data</td>
                                    <td th:text="${order.product_seq}">No data</td>
                                    <td th:text="${order.customer_seq}">No data</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>SAMSAM-ADMIN</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/bootstrap/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/bootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/bootstrap/assets/vendor/echarts/echarts.min.js"></script>
<script src="/bootstrap/assets/vendor/quill/quill.js"></script>
<script src="/bootstrap/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/bootstrap/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/bootstrap/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/bootstrap/assets/js/main.js"></script>

</body>

</html>