<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.samsam.login.model.dao.LoginMapper">

    <resultMap id="accountResultMap" type="com.ohgiraffers.samsam.login.model.dto.AccountDTO">
        <id property="accountSeq" column="account_seq"/>
        <result property="accountId" column="account_id"/>
        <result property="accountPwd" column="account_pwd"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="mailAddr" column="mail_addr"/>
        <result property="accountAddr" column="account_addr"/>
        <result property="companyName" column="company_name"/>
        <result property="businessNum" column="business_num"/>
        <result property="accumulatedAmount" column="accumulated_amount"/>
        <result property="accountRole" column="account_role"/>
        <result property="gradeSeq" column="grade_seq"/>
    </resultMap>

    <select id="isLogin" parameterType="hashmap" resultType="int">
        SELECT COUNT(*) FROM account WHERE account_id = #{ accountId } AND account_pwd = #{ accountPwd }
    </select>

    <select id="findAccountRoll" parameterType="String" resultType="String">
        SELECT account_role FROM account WHERE account_id = #{ accountId }
    </select>

    <select id="findSeq" parameterType="String" resultType="int">
        SELECT account_seq FROM account WHERE account_id = #{ accountId }
    </select>
</mapper>