<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.samsam.shoppingmall.product.model.dao.ProductMapper">
    <resultMap id="productResultMap" type="com.ohgiraffers.samsam.shoppingmall.product.model.dto.ProductDTO">
        <id property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="registerDate" column="REGISTER_DATE"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>
    <select id="findProductList" resultMap="productResultMap">
        select * from product
    </select>

    <insert id="registNewProduct">
        INSERT INTO product (product_name , register_date , product_price, category_name)
            VALUES (#{productName}, #{registerDate}, #{productPrice} ,#{categoryName} ) <!-- 필드명 -->

    </insert>
    </mapper>