<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.samsam.shoppingmall.userinterface.purchase.model.dao.PurchaseMapper">

    <!-- 상품 가격 조회 -->
    <select id="findProductPriceById" resultType="int">
        SELECT product_price
        FROM product
        WHERE product_seq = #{productSeq}
    </select>


    <!-- 새로운 구매 등록 -->
    <insert id="insertPurchase">
        INSERT INTO order(
        customer_seq,
        product_seq,
        total_price,
        register_date,
        order_status,
        order_quantity
        ) VALUES (
        #{customerSeq},
        #{productSeq},
        #{totalAmount},
        NOW(),
        #{orderStatus},
        #{quantity}
        )
    </insert>
</mapper>
