<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Tabs - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/bootstrap/assets/img/favicon.png" rel="icon">
  <link href="/bootstrap/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/bootstrap/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/bootstrap/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="http://localhost:8080/main" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">SAMSAM-ADMIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img alt="Profile" class="rounded-circle" src="/bootstrap/assets/img/monster.jpg">
                    <span class="d-none d-md-block dropdown-toggle ps-2">SAMSAM-OWNER</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/product/list">
                <i class="bi bi-menu-button-wide"></i><span>상품 관리</span>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>회원 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/members">
                        <i class="bi bi-circle"></i><span>회원 목록 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/members/mail-form">
                        <i class="bi bi-circle"></i><span>메일</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>주문 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="http://localhost:8080/orderChange/list">
                        <i class="bi bi-circle"></i><span>주문 변경</span>
                    </a>
                </li>
                <li>
                    <a href="/order/list">
                    <a href="http://localhost:8080/order/list">
                        <i class="bi bi-circle"></i><span>주문 조회</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="board-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/board/notice">
                        <i class="bi bi-circle"></i><span>공지사항</span>
                    </a>
                </li>
                <li>
                    <a href="/QnA">
                        <i class="bi bi-circle"></i><span>Q&A</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->
        <li class="nav-heading">창고 관리</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#object-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>상품</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="object-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/warehouse/list">
                        <i class="bi bi-circle"></i><span>재고 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/warehouseLog/list">
                        <i class="bi bi-circle"></i><span>재고 내역 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/InAndOut">
                        <i class="bi bi-circle"></i><span>입/출고</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Profile Page Nav -->
    </ul>
</aside>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Q&A</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">쇼핑몰 관리자</a></li>
                <li class="breadcrumb-item">게시판</li>
                <li class="breadcrumb-item active">Q&A</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>상품 로그 조회</b></h5>
                    <p>&emsp;&emsp;&emsp;&emsp;게시판 코드&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;답변 제목</p>
                    <form action="/QnA/answer" method="post">
                        <input type="number" name="boardSeq" id="boardSeq" required>
                        <input type="text" name="answerContent" id="answerContent" size="large" required>
                        <button id="answerButton" type="submit">답변 등록</button>
<!--                        <span th:if="${ isError == true }" style="color: red; font-size: 40px">🕺🕺🕺게시판 코드 다시 봐바유~🕺🕺🕺</span> <br>-->
                    </form>
                  <div class="text-center mt-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-left mb-3">
                        </div>


                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                          <thead>
                          <tr>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;게시판 코드</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;고객 코드</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;제목</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;내용</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;작성일</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;답변</th>
                            <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;답변 등록일</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="board:${boards}">
                            <td th:text="${board.boardSeq}"></td>
                            <td th:text="${board.customerSeq}"></td>
                            <td th:text="${board.boardTitle}"></td>
                            <td th:text="${board.boardContent}"></td>
                            <td th:text="${board.boardDate}"></td>
                            <td th:text="${board.answerContent}"></td>
                            <td th:text="${board.answerDate}"></td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>SamSam-Admin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/bootstrap/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/bootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/bootstrap/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/bootstrap/assets/vendor/quill/quill.js"></script>
  <script src="/bootstrap/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/bootstrap/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/bootstrap/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/bootstrap/assets/js/main.js"></script>

</body>

</html>